.App {
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: stretch;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  flex: 0 0 (100% / 12);

  @media (min-width: 992px) {
    flex: 0 0 15%;
  }
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-body {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.login-form {
  background-size: cover;
}

.add-trek{
  .add-trek-manual{
    .add-trek-manual-block{
      border: 1px solid black;
    }
  }
}

.popup-container{
  .popup{
    border: 1px solid black;
    width: 90%;
    height: 100px;
    text-align: center;
  }
}

.choice-button{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  .material-icons{
    font-size: 40pt;
  }
}

.zwevende-add {
  .material-icons {
    font-size: 72pt;
  }
}

.menu-item {
  color: white;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  & + & {
    border-left: 1px solid black;
    @media (min-width: 992px) {
      border-left: 0px;
      border-top: 1px solid black;
    }
  }

  .material-icons {
    font-size: 40pt;
  }
  &:hover {
    text-decoration: none;
  }
}

.map-selector {
  background-color: #fff;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 15%;
  min-width: 100px;
  max-height: 40vh;
  min-height: 100px;
  overflow-y: scroll;
  z-index: 1010;
}
