.App {
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-body {
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column nowrap;
}

.leaflet-container {
  height: 80vh;
  width: 100%;
  flex-grow: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.login-form {
  background-size: cover;
}

.add-trek{
  .add-trek-manual{
    .add-trek-manual-block{
      border: 1px solid black;
    }
  }
}

.popup-container{
  .popup{
    border: 1px solid black;
    width: 90%;
    height: 100px;
    text-align: center;
  }
}

.choice-button{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  .material-icons{
    font-size: 40pt;
  }
}

.zwevende-add {
  .material-icons {
    font-size: 72pt;
  }
}

.menu {
  float: right;
  background-color: rgba(255,255,255,0.5);
  .menu-item {
    height: 100px;
    border-bottom: 1px solid black;
    .material-icons {
      font-size: 40pt;
    }
  }
}
